{% extends 'base.html.twig' %}
{% block title %} {{ category.title }} {% endblock %}

{% block body %}
    <div class="container">
        <div class="text-center">
            <h1 class="lead">  </h1>
        </div>
        {% for articles in article %}
            <h3>  {{ articles.author }} </h3>
            <p> {{ articles.title }}</p>
        {% endfor %}

    </div>
{% endblock %}